basePath: /
definitions:
  dto.CategoryRequest:
    properties:
      name:
        example: Makanan
        type: string
    required:
    - name
    type: object
  dto.CategoryResponse:
    properties:
      id:
        example: uuid-string-123
        type: string
      name:
        example: Makanan
        type: string
    type: object
  dto.LoginRequest:
    properties:
      email:
        example: admin@example.com
        type: string
      password:
        example: password
        type: string
    required:
    - email
    - password
    type: object
  dto.ProductResponse:
    properties:
      category_id:
        type: string
      id:
        type: string
      name:
        type: string
      picture:
        type: string
      price:
        type: number
    type: object
  dto.RegisterRequest:
    properties:
      email:
        example: admin@example.com
        type: string
      name:
        example: Jonatan
        type: string
      password:
        example: password
        minLength: 6
        type: string
    required:
    - email
    - name
    - password
    type: object
  repository.Category:
    properties:
      id:
        type: string
      name:
        type: string
    type: object
  repository.Product:
    properties:
      category_id:
        type: string
      id:
        type: string
      name:
        type: string
      picture:
        type: string
      price:
        type: number
    type: object
host: localhost:8080
info:
  contact:
    email: support@maspos.com
    name: API Support
  description: Backend API for Maspos
  license:
    name: MIT
  termsOfService: http://swagger.io/terms/
  title: Maspos API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Authenticate user and return a JWT token
      parameters:
      - description: Login payload
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/dto.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
      summary: Login user
      tags:
      - Auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Create new user account
      parameters:
      - description: Register payload
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/dto.RegisterRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "409":
          description: Conflict
          schema:
            additionalProperties: true
            type: object
      summary: Register new user
      tags:
      - Auth
  /categories:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/repository.Category'
            type: array
      summary: Get all categories
      tags:
      - Category
    post:
      consumes:
      - application/json
      parameters:
      - description: Category payload
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/dto.CategoryRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/dto.CategoryResponse'
      summary: Create new category
      tags:
      - Category
  /categories/{id}:
    delete:
      parameters:
      - description: Category ID
        in: path
        name: id
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Delete category
      tags:
      - Category
    get:
      parameters:
      - description: Category ID
        in: path
        name: id
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/repository.Category'
      summary: Get category by ID
      tags:
      - Category
    patch:
      parameters:
      - description: Category ID
        in: path
        name: id
        required: true
        type: string
      - description: Category Name
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/dto.CategoryRequest'
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Update category
      tags:
      - Category
  /products:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/repository.Product'
            type: array
      summary: Get all products
      tags:
      - Product
    post:
      consumes:
      - multipart/form-data
      parameters:
      - description: Category ID
        in: formData
        name: category_id
        required: true
        type: string
      - description: Product Name
        in: formData
        name: name
        required: true
        type: string
      - description: Price
        in: formData
        name: price
        required: true
        type: number
      - description: Product Picture
        in: formData
        name: picture
        required: true
        type: file
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/dto.ProductResponse'
      summary: Create new product
      tags:
      - Product
  /products/{id}:
    delete:
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Delete product
      tags:
      - Product
    get:
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/repository.Product'
      summary: Get product by ID
      tags:
      - Product
    patch:
      consumes:
      - multipart/form-data
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: string
      - description: Category ID
        in: formData
        name: category_id
        required: true
        type: string
      - description: Product Name
        in: formData
        name: name
        required: true
        type: string
      - description: Price
        in: formData
        name: price
        required: true
        type: number
      - description: Product Picture
        in: formData
        name: picture
        type: file
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Update product
      tags:
      - Product
swagger: "2.0"
